manager/manager-common/target/classes/com/csz/SequenceGeneratorUtil.class
manager/manager.log.1
manager/manager-common/target/
manager/manager-console/target/
manager/manager-entity/target/
manager/manager-service/target/
manager/.idea
