manager/manager-common/target/classes/com/csz/SequenceGeneratorUtil.class
manager/manager.log.1
manager/manager.log.2
manager/manager.log.3
manager/manager.log.4
manager/manager-common/target/
manager/manager-console/target/
manager/manager-service/target/
manager/manager-entity/target/
manager/manager-entity/manager-entity.iml
manager/manager-common/manager-common.iml
manager/manager-console/manager-console.iml
manager/manager-service/manager-service.iml

manager/.idea
manager/manager.iml
